.App {
  max-width: 1440px;
  margin: 0 auto;
}

.App section {
  margin: 20px auto;
}

.App button {
  outline: none;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 30px;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
}

.App input, .App textarea {
  outline: none;
}